.geopunk-c-admin-main-container {
    display: flex;
}

.geopunk-c-admin-sidebar__container {
    width: 20%;
    min-height: 100vh;
    border-right: 1px solid $geopunk-color-black;
}

.geopunk-c-admin-dashboard__container {
}
